@using Quizle.Web.Models
@model List<QuizViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var quiz in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            @*<img class="card-img-top" style="width: 18rem;"
             src="@quiz.ImageUrl" alt="Book Image">*@
            <div class="card-body">

                <h5 class="card-title mt-1">Difficulty: @quiz.Difficulty</h5>
                <p class="mb-0">Category: @quiz.Category </p>
                @*<p class="mb-0">Rating: @quiz.</p>
                <p>Category: @book.Category</p>*@
            </div>

            <form class="input-group-sm" asp-controller="Quiz" asp-action="SelectDifficulty" asp-route-selectedDifficulty="@quiz.Difficulty">
                <input type="submit" value="Play" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>


@*<div class="text-center">
    <h1 class="display-4">Welcome to your hourly quiz.</h1>
    <p>Please select your preferred difficulty.</p>
</div>
<div>
    <form id="quiz" method="post" asp-action="SelectDifficulty" asp-controller="Quiz">

        <div class="question bg-white p-3 border-bottom">

            <input type="radio" value=1 name="selectedDifficulty"> <span>Easy</span>
            <input type="radio" value=2 name="selectedDifficulty"> <span>Easy</span>
            <input type="radio" value=3 name="selectedDifficulty"> <span>Easy</span>
        </div>
        <input type="submit" value="Next" />

    </form>
</div>*@

