@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Quizle.DB.Common.Enums
@using Quizle.DB.Models
@using Quizle.Web.Models
@using System.Security.Claims
@model List<BadgeViewModel>

@inject UserManager<ApplicationUser> _userManager;
@{
    ViewBag.Title = "All Badges";
 
    var user = _userManager.Users.Include(a => a.ApplicationUsersBadges).ThenInclude(a => a.Badge).ToList().FirstOrDefault(a => a.Id == User?.Claims?.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value);
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var badge in Model)
        {            
        <div class="col-md-4">
            
                <div class="card" style="width: 18rem;">
                    <img src="@badge.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@badge.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                        <p class="card-text">@badge.Description</p>
                        <form class="input-group-sm" asp-controller="Badge" asp-action="Buy" asp-route-badgeId="@badge.Id" asp-route-badgePrice="@badge.Price">
                            @if (user == null)
                            {
                                <input id="buyInactive" type="submit" value="Not Logged in" disabled class="btn mr-2">

                            }                            
                            else if (badge.OwnerIds.Any(a => a == user.Id))
                            {
                                <input id="buyInactive" type="submit" value="Already Owned" disabled class="btn mr-2">

                            }
                            else if (user.CurrentQuizPoints < badge.Price)
                            {                               
                                <input id="buyInactive"type="submit" value="Not Enough Money" disabled class="btn mr-2">
                            }
                            else
                            {
                                <input id="buyActive" type="submit" value="Purchase" class="btn mr-2">

                            }
                        </form>                        
                    </div>
                </div>
            
            
        </div>
        }
</div>
