@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Quizle.DB.Common.Enums
@using Quizle.DB.Models
@using Quizle.Web.Models
@using System.Security.Claims
@model List<UserBadgeViewModel>


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container mx-auto mt-4">
    <div class="row">
        @foreach (var badge in Model)
        {            
        <div class="col-md-4">
            
                <div class="card" style="width: 18rem;">
                    <img src="@badge.Badge.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@badge.Badge.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                        <p class="card-text">@badge.Badge.Description</p>
                        <p class="card-text">@badge.Badge.Rarity</p>
                        <p class="card-text"> Bought for: @badge.Badge.Price</p>
                        <p class="card-text"> Date acquired @badge.DateAcquired</p>

                        <form class="input-group-sm" asp-controller="Badge" asp-action="SetOnProfile" asp-route-badgeId="@badge.Badge.Id">
                               <input type="submit" value="Add to Profile" class="btn mr-2">
                        </form>                        
                    </div>
                </div>
            
            
        </div>
        }
</div>
