@using Quizle.Web.Models.Profile;
@model ProfileViewModel
<div class="container rounded bg-white mt-5 mb-2">
    <div class="row">
        <div class="col-md-3">

            @if (Model.UserBadge != null && Model.UserBadge.Badge != null)
            {
                <div class="card mt-4" style="width: 18rem;">
                    <img src="@Model.UserBadge.Badge.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.UserBadge.Badge.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                        <p class="card-text">@Model.UserBadge?.Badge.Description</p>
                        <p class="card-text">Rarity: @Model.UserBadge?.Badge.Rarity</p>
                    </div>
                </div>
            }

        </div>
        <partial name="_ProfilePartial" />

        <div class="col">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <h4>Question History</h4>
                </div>
                <br>
                <div class="col-md-12">
                    <label class="labels">Last two Questions</label>
                    @foreach (var question in Model.AnsweredQuestions.OrderByDescending(a => a.Id).Take(2))
                    {
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@question.Question</h5>
                                <h7 class="card-subtitle mb-2 text-muted">Selected: @question.SelectedAnswer</h7>
                                <p class="card-text">Correct:@question.CorrectAnswer</p>
                                <p class="card-text">Difficulty: @question.Difficulty</p>
                            </div>
                        </div>
                    }                    

                </div>
            </div>


        </div>

    </div>

